<html>
<head> 
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<title> Home page </title>
</head>
<body>
	<div id="r">
		<h1> Home Page </h1>
	</div>

	<div id="menu">
	
		<ul>
			<il><a href="{{url_for('homepage')}}">Home</a></il>
			<il><a href="{{url_for('about')}}">About me</a></il>
			<il><a href="{{url_for('contact')}}"> Contant Me</a></il>
		</ul>
	</div>

	<div id="p1">
		<p> My Name Is Roaa , I'm 16 and I love cats, and I love driving. </p>
	<img id="1" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTlcx17FCy7U1MVnkEo5wK5s48J3s1P7J0oaXWR6RHnMdWK3-VR"/>
	
	</div>




</body>


	 

</html>
